---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
{% include base_path %}

{% assign ordered_teaching = site.teaching | sort: 'order' %}
{% for post in ordered_teaching %}
  <div class="teaching-course">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p><strong>Type:</strong> {{ post.type }}</p>
    <p><strong>Level:</strong> {{ post.level }}</p>
    <p><strong>Years:</strong> {{ post.years }}</p>
  <span><strong>Professor:</strong> {{ post.profs | markdownify }}</span>    
  <p><strong>Language:</strong> {{ post.language }}</p>
    <details>
      <summary><strong>Description</strong></summary>
      <div>{{ post.description | markdownify }}</div>
    </details>
    <details>
      <summary><strong>Units</strong></summary>
      <div class="teaching-content">
        {{ post.content | markdownify }}
      </div>
    </details>
    <hr>
  </div>
{% endfor %}

<h2>Other Academic Responsibilities</h2>
<h3>Conference Series in Economics Development - Vice President (2024-2025)</h3>
Lead organization of a series of conferences, contacting speakers, chairing sessions, and logistical coordination.
<details>
  <summary><strong>Seminar Description:</strong></summary>
  <p>This seminar invites professionals and researchers in the field of Development Economics to present their work to students and discuss current issues in the field. Previous guests include Kunal Sen (UNU-WIDER), Lucas Leblanc (OECD-LEED), Olivia Cuq (OECD Developement), Andrea Cinque (OECD Development Centre) </p>
</details>